#ciudades{
    width: 750px;
    height: 500px;
    align-items: center;
    padding-left: 40px;
}

#provincias{
    width: 750px;
    height: 500px;
}

nav {
    position: sticky;
}


nav ul {
    list-style-type: none;
    width: 100%;
    background-color: lightblue;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;

}

nav ul li a{
    display: inline-block;
    padding-left: 10px;
}

li a.text {
    color: midnightblue;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}


li a:hover{
    background-color:  midnightblue;
    color:lightblue;
}

.textlogo {
    color: midnightblue;
    display:flex;
    justify-content: center;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 60px;
    font-family: Copperplate;
}


#boton{

    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-left:80px;
}



.mostrar{
    display: flex;
    justify-content: center;
    text-align: center;
}

body{
    background-color: lightblue ;
}

h2, h3{
    display:flex;
    justify-content: center;
    color:blue;
    font-family: Copperplate;

}
h2{
    font-size: 30px;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    background-color: #7cf;
}

.container .card ul{
    list-style: none;
    text-align: center;
    margin-right: 30px;
}

#ciudad{
    list-style: none;
}

#poblacion{
    list-style: none;
}

table{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}

.leyenda {
    text-align: center;
}

.leyenda img{
    height: 60px;
}


